# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Secrets
.env
htmlcov/

# Output
output/
output_eval/
generated_KGs/
data/external/

# OS
.DS_Store
Thumbs.db

saved_sessions/armon/friday_2138.md
